
@font-face {
  font-family: "Inter Tight";
  src: url("InterTight-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Inter Tight";
  src: url("InterTight-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

:root {
  --yellow: #fc0;
  --tealish: #009d88;
  --forest: #006c5c;
  --blue: #455bc6;
  --pink: #e97a9f;
  --bordeaux: #920047;
  --max-width: 960px;
  --font: "Inter Tight";
  --offset: 0.6rem;
}

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  min-height: 100%;
}
main {
  max-width: var(--max-width);
  margin: 0 auto;
}
header {
  border-bottom: 1rem solid var(--yellow);
  padding: 4rem 0 1rem 0;
}
header h1 {
  max-width: var(--max-width);
  margin: 0 auto;
  font-size: 4rem;
  font-style: italic;
  font-weight: 900;
}
header p {
  /*margin: -0.4rem 0 1rem var(--offset);*/
  max-width: var(--max-width);
  margin: 0 auto;
  font-weight: 300;
  font-variant: small-caps;
  font-size: 1.2rem;
  letter-spacing: 3.5px;
}
#hero .logos {
  text-align: center;
  margin-top: 4rem;
}
#hero .logos p {
  font-size: 0.8rem;
  text-align: center;
}
#hero .logos img {
  max-width: 4rem;
  margin: 0 1rem;
}

p, li, dt, dd {
  font-weight: 300;
  font-size: 1.25rem;
  text-align: justify;
  line-height: 1.375;
  overflow-wrap: break-word;
}
a {
  color: var(--blue);
  font-weight: 400;
  text-decoration: none;
}
h2 {
  margin-top: 8rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 0;
}
h3 {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 900;
  margin-bottom: 0;
}
h3 + p, h4 + p {
  margin-top: 0;
}
h4 {
  margin-bottom: 0;
  font-size: 1.25rem;
}
strong {
  font-weight: 700;
}

iframe {
  border: 1px solid black;
  height: min(700px, 100vh);
  width: 100%;
}

footer {
  padding: 0.8rem 0 2rem 0;
  margin-top: 4rem;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: right;
  border-top: 0.2rem solid var(--yellow);
}
footer > div {
  max-width: var(--max-width);
  margin: 0 auto;
}
footer .logos {
  margin: 1rem auto 4rem auto;
}
footer .logos a {
  flex-grow: 1;
  text-align: center;
}
footer .logos img {
  max-width: 3rem;
  margin-left: 1rem;
}

a {
  color: var(--blue);
  font-weight: 600;
  text-decoration: none;
}

@media only screen and (max-width:500px) {
  header h1 {
    font-size: 3rem;
  }
  body, p, li, dt, dd {
    font-size: 1.1rem;
    text-align: left;
  }
  main, header, footer {
    padding: 0.5cm;
  }
}
